*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  margin: 100px 30px;
}
.main_app{
  padding-left: 100px;
  background-color: aquamarine;
  padding: 50px 184px;
  /* width: 350px;
  text-align: center; */
}
.main_app button{
  font-size: 24px;
  padding: 10px 30px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}
.main_app h3{
  font-size: 28px;
  padding: 10px;
  color: goldenrod;
  margin-left: 58px;
}
.main_pass{
  margin-left: 670px;
  margin-top: -238px;
}
.main_pass input{
  padding: 18px 25px;
  border-radius: 9px;
  border: 1px solid black;
  font-size: 15px;
}
.main_pass button{
  padding: 15px 25px;
  border-radius: 9px;
  border: 1px solid blueviolet;
  margin-left: 10px;
  background: blueviolet;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}
.app_h2{
  padding-bottom: 28px;
  color: rgb(15, 19, 234);
}
.pass_h2{
  padding-bottom: 28px;
  color: rgb(15, 19, 234);
}
.main_app p{
  font-size: 18px;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.hidden{
  opacity: .3;
  cursor: not-allowed;
}
